version: 2.1

orbs:
  deployment: geocollections/deployment-orb@1

workflows:
  build:
    jobs:
      - deployment/build_docker_image:
          git_tag: << pipeline.git.tag >>
          context:
            - dockerhub
          filters: &filters-production
            branches:
              only: master
            tags:
              only: /^v\d+\.\d+\.\d+$/
      - deployment/publish_docker_image:
          context:
            - dockerhub
          requires: 
            - deployment/build_docker_image
          filters:
            <<: *filters-production
      - deployment/ssh_run_production_container:
          container_name: geokirjandus
          context:
            - dockerhub
            - machine-sarv-apps
          requires:
            - deployment/publish_docker_image
          filters:
            <<: *filters-production
  build-dev:
    jobs:
      - deployment/build_docker_image:
          git_tag: << pipeline.git.tag >>
          context:
            - dockerhub
          filters: &filters-dev
            tags:
              ignore: /^.*$/
      - deployment/ssh_push_docker_image:
          context:
            - machine-sarv-apps
          requires: 
            - deployment/build_docker_image
          filters:
            <<: *filters-dev
      - deployment/ssh_run_dev_container:
          container_name: geokirjandus-dev
          context:
            - dockerhub
            - machine-sarv-apps
          requires:
            - deployment/ssh_push_docker_image
          filters:
            <<: *filters-dev
