version: 2.1

executors:
  docker-publisher:
    docker:
      - image: cimg/base:2026.02-22.04

jobs:
  build-docker-image:
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker
      - when:
          condition:
            << pipeline.git.tag >>
          steps:
            - run:
                name: Build production Docker image
                command: |
                  IMAGE_NAME=$DOCKER_USERNAME/geokirjandus
                  docker build -t $IMAGE_NAME:$CIRCLE_TAG -t $IMAGE_NAME:latest .
      - when:
          condition:
            not: 
              << pipeline.git.tag >>
          steps:
            - run:
                name: Build development Docker image
                command: |
                  IMAGE_NAME=$DOCKER_USERNAME/geokirjandus
                  docker build -t $IMAGE_NAME:dev-$CIRCLE_SHA1 .
      - run:
          name: Archive Docker image
          command: |
            IMAGE_NAME=$DOCKER_USERNAME/geokirjandus
            docker save -o image.tar $IMAGE_NAME
      - persist_to_workspace:
          root: .
          paths:
            - ./image.tar
  publish-docker-image:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Load archive Docker image
          command: docker load -i /tmp/workspace/image.tar
          steps:
            - run:
                name: Publish Docker image to Docker Hub
                command: |
                  IMAGE_NAME=$DOCKER_USERNAME/geokirjandus
                  echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
                  docker push $IMAGE_NAME
  run-docker-container:
    executor: docker-publisher
    parameters:
      cmd:
        type: string
    steps:
      - run:
          name: Run Docker image
          command: ssh -o "StrictHostKeyChecking no" -p $SSH_PORT $SSH_USER@$SSH_HOST "cd $SSH_WORKDIR && << parameters.cmd >>"

workflows:
  build:
    jobs:
      - build-docker-image:
          filters: &filters-production
            branches:
              only: master
            tags:
              only: /^\d+\.\d+\.\d+$/
      - publish-docker-image:
          requires: 
            - build-docker-image
          filters:
            <<: *filters-production
      - run-docker-container:
          cmd: sh run_production.sh
          context:
            - machine-sarv-apps
          requires:
            - publish-docker-image
          filters:
            <<: *filters-production
  build-dev:
    jobs:
      - build-docker-image:
          filters:
            branches:
              only: development 
      - publish-docker-image:
          requires:
            - build-docker-image
      - run-docker-container:
          cmd: sh run_dev.sh
          context:
            - machine-sarv-apps
          requires:
            - publish-docker-image
