version: 2.1
orbs:
  node: circleci/node@4.1.0

parameters:
  package-version:
    type: string
    default: "1.2.3"

executors:
  docker-publisher:
    environment:
      IMAGE_NAME: geocollections/geokirjandus
    docker:
      - image: circleci/node:lts-stretch

jobs:
  build_docker_image:
    executor: docker-publisher
    parameters:
      tag:
        type: string
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: |
            docker build -t $IMAGE_NAME:<< pipeline.parameters.package-version >> -t << parameters.tag >> .
      - run:
          name: Archive Docker image
          command: docker save -o image.tar $IMAGE_NAME
      - persist_to_workspace:
          root: .
          paths:
            - ./image.tar

  publish_docker_image:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Load archive Docker image
          command: docker load -i /tmp/workspace/image.tar
      - when:
          condition:
            or:
              - equal: [ "master", << pipeline.git.branch >> ]
          steps:
            - run:
                name: Publish Docker image to Docker Hub
                command: |
                  echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
                  docker push $IMAGE_NAME
      - when:
          condition:
            or:
              - equal: [ "development", << pipeline.git.branch >> ]
          steps:
            - run:
                name: Publish Docker dev image to Docker Hub
                command: |
                  echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
                  docker push $IMAGE_NAME

  run_docker_image:
    executor: docker-publisher
    steps:
      - run:
          name: Run Docker image
          command: ssh -o "StrictHostKeyChecking no" -p ${PORT} ${USER}@${ADDRESS} "cd /var/www/geokirjandus/ && . run_production.sh"

  run_docker_image_dev:
    executor: docker-publisher
    steps:
      - run:
          name: Run Docker image
          command: ssh -o "StrictHostKeyChecking no" -p ${PORT} ${USER}@${ADDRESS} "cd /var/www/geokirjandus/ && . run_dev.sh"

workflows:
  build:
    jobs:
      - build_docker_image:
          tag: $IMAGE_NAME:latest
          filters:
            branches:
              only: master
      - publish_docker_image:
          requires:
            - build_docker_image
      - run_docker_image:
          requires:
            - publish_docker_image
  build-dev:
    jobs:
      - build_docker_image:
          tag: $IMAGE_NAME:dev
          filters:
            branches:
              only: development 
      - publish_docker_image:
          requires:
            - build_docker_image
      - run_docker_image_dev:
          requires:
            - publish_docker_image
